.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 34px;
    }

body {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    background-color: #F6F6F6;
 }

p {
    font-weight: 400;
    padding-bottom: 28px;
    font-size: 18px;
}