.container {
    width: 100%;
    }

h1 {
    font-family: sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    }

body {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    background-color: #F6F6F6;
 }

p {
    font-weight: 400;
    padding-bottom: 28px;
    font-size: 18px;
}