
h1 {
    font-family: sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 34px;

..container {
    width: 100%;
    max-width: 943px
}

}body {
     text-align: center;
     font-size: 18px;
     font-family: sans-serif;
 }
 p {
     padding-bottom: 30px;
     font-size: 18px;
 }